body {
  font-family: sans-serif;
  font-weight: 300;
  font-size: 1.0rem;
  margin-bottom: 5rem;
  margin-top: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
}

.footer-clean {
  background-color: rgba(0,0,0,0.12);
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.footer-clean .copyright {
  text-align: center;
  opacity: 0.8;
  font-size: 0.9rem;
  margin-bottom: 0;
}
